[Desktop Entry]
Name=Uninstaller
Comment=Search and uninstall APT, Snap and Flatpak packages
Exec=/usr/local/bin/uninstaller
Icon=uninstaller
Terminal=false
Type=Application
Categories=System;Utility;
StartupWMClass=zenity
