[Desktop Entry]
Name=Uninstaller
Name[pt]=Desinstalador
Name[pt_PT]=Desinstalador
Name[en_GB]=Uninstaller
Comment=Search and uninstall APT, Snap and Flatpak packages
Comment[pt]=Procurar e desinstalar pacotes APT, Snap e Flatpak
Comment[pt_PT]=Procurar e desinstalar pacotes APT, Snap e Flatpak
Comment[en_GB]=Search and uninstall APT, Snap and Flatpak packages
Exec=/usr/local/bin/uninstaller
Icon=uninstaller
Terminal=false
Type=Application
Categories=System;Utility;
StartupWMClass=zenity
